body {
            margin: 0;
            padding: 0;
        }

        /* Navbar */
        .navbar {
            background-color: #000;
        }
        .navbar-brand,
        .nav-link {
            color: #fff !important;
        }
        .nav-link:hover {
            color: white !important;
        }
        .card-container {
      display: flex;
      justify-content: center;
      /* align-items: stretch; */
      gap: 30px;
      margin-top: 50px;
      
    }

    .card {
      background: #e6e6e6;
      border-radius: 10px;
     height: 25em;
     box-sizing: border-box;
      padding: 40px 30px;
      width: 300px;
      transition: transform 0.3s ease;
    }
        .card-img-top{
            overflow: hidden;
            transition: transform 0.5s ease;
            opacity: 0.4;
            height: fit-content;
            }


           .card-img-top:hover{ 
             transform: scale(0.9); 
            opacity: 1;

            }
            .card:hover{ 
             transform: scale(1.1); 
            /* opacity: 1; */

            }

        h1{
            font-family: fantasy;
        }
       .footer {
            width: 100%;
}
/* .nav li:hover{
    background-color: red;
} */

.footer-link {
  color: #cccccc;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.footer-link:hover {
  color: #ffffff;
  padding-left: 5px;
  transition: 0.3s;
}

 .social-icon {
  color: white;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icon:hover {
  background: #dc3545;
  transition: 0.3s;
  transform: translateY(-3px);
}

 a:hover{
  background-color: red;
}
.Event{
  text-align: justify;
  margin-left: 60px;
}
.rounded-circle{
  height: 7vh;
}
.rounded-circle:hover{
  background-color: #333; 
}
.button:hover{
color: red;background-color: #212529;color: white;
}
.title{
  margin-left: 100px;
  font-family:'Times New Roman', Times, serif;
}



/* CONTACT CSS FOR MARBLE WEB PAGE */

.contact-map  {
  display: flex;
}

iframe{
  width: 100%;
  height: 350px;
}
.contact-card{
    padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
@media(max-width:800px){
}
.form label,input,textarea{
  height: auto;
  width: 25%;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}
.btn:hover{
  background-color: darkcyan;
  border: 1px solid darkcyan;
}
.dropdown-item:hover{
  background-color: red;  
}
.form label,input,textarea:hover{
  background-color: #e6e6e6;
  border:  1px solid red;
}
.logo:hover{
  background: none;
}